* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Garet;
  src: url(../fonts/Garet-Book.ttf);
}

@media (min-width: 700px) and (max-width: 991px) {
  section {
    background-color: rgb(255, 0, 0);
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
    section {
      background-color: rgb(29, 252, 0);
    }
  }
@media (min-width: 1200px) and (max-width: 1399px) {
  .conteiner {
    background-color: rgb(187, 1, 243);
  }
}
@media (min-width: 1399px) and (max-width: 2000px) {
    .conteiner {
      background-color: rgb(155, 0, 245);
    }
  }


body {
  background: linear-gradient(to top, orange, rgb(255, 255, 255));
  color: rgb(0, 0, 0);
  width: 1556m;
  font-family: Garet;
}

.conteiner {
  
  margin-left: 20%;
  margin-right: 20%;
}
.laranja {
  background-color: rgb(255, 153, 0);
  width: 100%;
}

.imagens {
  margin-top: 60px;
  margin-left: 5%;
  text-align: justify;
  width: auto;
  height: auto;
  display: flex;
  margin-bottom: -20px;
}

.img {
  border-radius: 50%;
  width: 50%;
}

h1 {
  font-size: 50px;
}

h2 {
  text-align: center;
  font-size: 80px;
}

h3 {
  text-align: center;
  font-size: 40px;
}
h4 {
  text-align: center;
  font-size: medium;
}

p {
  text-align: justify;
  font-size: 25px;
}
.li {
  margin-top: 30px;
  font-size: 30px;
  text-align: justify;
  margin-bottom: 30px;
}

section {
  display: grid;  
  place-items: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
  margin-bottom: 100px;
}

.slogan {
  margin-bottom: 5%;
  opacity: 1;
  filter: blur(15px);
  transform: translateY(-100%);
  transition: all 1s;
}
.motivacao {
  margin: 40px 40px 40px 80px;
  font-size: 40px;
  text-align: justify;
}
.balao {
  height: 100%;
  width: 100%;
  background-color: rgb(252, 174, 6);
  border-radius: 25px;
}

.logo {
  opacity: 0;
  filter: blur(15px);
  transition: all 1s;
}

.divhidden {
  opacity: 0;
  filter: blur(15px);
  transition: all 2s;
}

.hidden {
  opacity: 0;
  filter: blur(15px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
  transition: all 1s;
}

.assinaturas {
  width: 1000px;
  display: flex;
  justify-content: space-around;
}

.card {
  width: 350px;
  height: auto;
  background-color: rgb(253, 0, 0);
  padding: 10px 0;
  background: linear-gradient(white, orange);
  border-radius: 15px;
  border: 2px solid black;
}
.card:hover {
  transform: scale(1.05);
}
.card-title {
  padding: 30px 20px;
  border-bottom: 2px solid gray;
}

.cardcontent {
  font-size: 10px;
}
li {
  margin-left: 35px;
  margin-top: 10px;
  font-size: 25px;
  margin-bottom: 30px;
}
footer {
  margin-top: 10px;
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
}
